*{
    margin: 0;
    padding: 0;

}

a{
    text-decoration: none;
    color: white;
    
}


li{
    list-style-type: none;
}

.header{
   width: 100%;
    height: 93vh;
    position: relative;
    background: url(./images/latesdt.jpg) no-repeat center center/cover;
    

}

.header img{
width: 100px;
height: 100px;
}

.navbar ul li a{
    color: white;

}


.corner{
padding-left: 100px;
}



.menus ul li a{
    font-size: 20px;
   
  
}
.menus ul li {
    padding-left: 30px;
}

.menus ul li:hover{
    background-color: gray;
}


.icons i{

  border-radius: 60px;
  background-color: #c0c0c0
 

}
.icons{
   
    position: absolute;
    top: 500px;
    left: 100px;
}

hr{
    width: 300px;
    color: black;
}


.roundImage img{
    width: 160px;
    height: 200px;
    border-radius: 50%;
  
 
}

.content{
    margin-top: 100px;
}


.footericon i{
     border-radius: 60px;
  background-color: #c0c0c0;

 color: black;
}

.footer{
    font-size: 13px;
    margin-top: 50px;
}

.text-dark{
    font-weight: bolder;
    font-style: oblique;
    text-shadow: 30px solid rgb(19, 16, 16);
    word-spacing: 0px;
}

.tab-img{
    padding-left: 100px;
}